{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf%}


<!-- content -->
{% block content %}
<p>Available Blog Posts</p>

<div class="container" style="padding-top: 3%;"> 
    <div class="row">
        
        <div class="col-md-6">
        <!--Flash message -->
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
            {% endfor %}
            <!-- Login form -->
            {{wtf.quick_form(blog_form)}}
        </div>
    </div>
</div>

{% endblock %}  
